# This is a basic workflow to help you get started with Actions

name: test

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
  
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install --editable .
          
      - name: Run rv32i
        run: riscv-config -ispec examples/rv32i_isa.yaml
      
      - name: Run rv64i
        run: riscv-config -ispec examples/rv64i_isa.yaml

  check-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: version check
        run: |
          export CHNGVER=$(grep -P -o '(?<=## \[).*(?=\])' -m1 CHANGELOG.md); 
          echo "CHANGELOG VERSION: $CHNGVER"
          export INITVER=$(grep -P "__version__ = '.*?'" riscv_config/__init__.py | awk '{print $3}'|sed "s/'//g"); 
          echo "INIT VERSION: $INITVER"
          export TAGVER=$(git describe --tags --abbrev=0);
          echo "TAGVER: $TAGVER"
          if [ "$CHNGVER" = "$INITVER" ]; then
              echo "Versions are equal in Changelog and init.py."
          else
              echo "Versions are not equal in Changelog and init.py."
              exit 1
          fi
          if [ "$CHNGVER" = "$TAGVER" ]; then
              echo "Versions are equal in Changelog and current tag."
              exit 1
          else
              echo "Versions are not equal in Changelog and current tag. Good."
          fi
